:root{
    --font-color: #876FF5;
    --font-color__elements: #F7F7F7;
    --font-color__elements_false: #777777;
    --background: #1E1E1F;
}
.greetings_animation{
    transform: translateX(100%);
}
body{
    background-color: var(--background);
    color: var(--font-color__elements);
    font-family: Roboto, sans-serif;
    overflow: hidden;
}
h1{
    text-align: center;
}
div.greetings{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    z-index: 10;
    transition: 1000ms;
}
div.greetings img{
    margin-top: 20%;
    cursor: pointer;
}
div.greetings h1{
    color: var(--font-color);
}
div.greetings p{
    margin-top: -5%;
    color: var(--font-color__elements);
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
}
div.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.app header{
    text-align: center;
}
div.app header p{
    padding: 0 15px;
    font-size: 1.3rem;
}
div.app header form.insert_task{
    padding: 0 12vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
div.app header input.search {
    margin-left: 50vw;
    margin-top: 25px;
}
div.app header form.insert_task input{
    background: transparent;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid var(--font-color);
    color: var(--font-color);
}
div.app header form.insert_task button.add_task{
    /* display: block; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 36px;
    border: none;
    color: var(--background);
}
div.app ul.tasks_list{
    display: flex;
    flex-direction: column-reverse;
}
div.app ul.tasks_list .task_item{
    list-style: none;
    width: 30vw;
}

/* CUSTOM CHECKBOX */

div.app ul.tasks_list .task_item label{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
div.app ul.tasks_list .task_item label .my_checkbox{
    display: inline-block;
    width: 19px;
    min-width: 19px;
    height: 19px;
    border: 2px solid var(--font-color);
    border-radius: 2px;
    margin-right: 10px;
}
div.app ul.tasks_list .task_item label input:checked ~ .my_checkbox{
    background: var(--font-color);
}
div.app ul.tasks_list .task_item label .my_task{
    position: relative;
}
div.app ul.tasks_list .task_item label input:checked ~ .my_task{
    color: var(--font-color__elements_false);
}
div.app ul.tasks_list .task_item label input:checked ~ .my_task::before{
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: -5%;
    width: 110%;
    height: 2px;
    opacity: 80%;
    background-color: var(--font-color__elements_false);
}
div.app ul.tasks_list .task_item label .my_checkbox::after{
    content: '';
    display: none;
    position: relative;
    top: 1px;
    left: 6px;
}
div.app ul.tasks_list .task_item label input:checked ~ .my_checkbox::after{
    display: block;
    box-sizing: border-box;
    width: 8px;
    height: 13px;
    border: 3px solid var(--background);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* CUSTOM CHECKBOX */

footer p.number_of_tasks {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 0.9rem;
}