:root{
    --font-color: aliceblue;
    --background: #18213c;
}
body{
    background-color: var(--background);
    color: var(--font-color);
    font-family: Roboto, sans-serif;
}
h1{
    text-align: center;
}
div.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.app header{
    text-align: center;
}
div.app header p{
    padding: 0 15px;
    font-size: 1.3rem;
}
div.app header form.insert_task{
    padding: 0 12vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
div.app header input.search {
    margin-left: 50vw;
    margin-top: 25px;
}
div.app header form.insert_task input{
    background: transparent;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid var(--font-color);
    color: var(--font-color);
}
div.app header form.insert_task button.add_task{
    /* display: block; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 36px;
    border: none;
    color: var(--background);
}
div.app ul.tasks_list{
    display: flex;
    flex-direction: column-reverse;
}
footer p.number_of_tasks {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 0.9rem;
}